
@font-face {
  font-family: 'Geometos';
  src: url('../fonts/Geometos-Rounded.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham_Black';
  src: url('../fonts/Gotham-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'BacktoBlack';
  src: url('../fonts/Back-to-Black-Demo.ttf') format('truetype');
}
section#events .events .past .event-container {
  width: 23%;
  margin-right: 30px;
}
section#events .events .event-container {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  /*@media @desktop{
		    	height:375px;
		    }
		    @media @laptop{
		    	height: 298px;
		    }*/
  /* @media @mobile{
		    	height: 267px;
		    }*/
}
@media only screen and (max-width: 1044px) {
}
@media only screen and (max-width: 769px) {
}
@media only screen and (max-width: 420px) {
}
section#events .events .event-container h4 {
  font-size: 1.4vw;
  padding-top: .6em;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  font-family: Geometos;
}
@media only screen and (min-width: 1300px) {
  section#events .events .event-container h4 {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 769px) {
  section#events .events .event-container h4 {
    font-size: 1.875em;
  }
}
@media only screen and (max-width: 420px) {
  section#events .events .event-container h4 {
    font-size: 1.5em;
  }
}
section#events .events .event-container p {
  margin: 0;
  font-size: 1.3vw;
  font-family: OpenSans_Regular;
}
@media only screen and (min-width: 1300px) {
  section#events .events .event-container p {
    font-size: 1.52em;
  }
}
@media only screen and (max-width: 769px) {
  section#events .events .event-container p {
    font-size: 1.5em;
  }
}
section#events .events .event-container a {
  color: #CA272F;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: OpenSans_Bold;
  margin-top: 5px;
  display: block;
  font-size: 1.2em;
}
@media only screen and (max-width: 1044px) {
  section#events .events .event-container .event-img img {
    width: 100%;
  }
}
section#events .events .past {
  margin-top: 2em;
}
section#events .events h3 {
  font-size: 4vw;
  text-transform: uppercase;
  color: #3399cc;
  margin-top: 0;
  margin-bottom: .42em;
  font-family: Geometos;
}
@media only screen and (min-width: 1300px) {
  section#events .events h3 {
    font-size: 4.8em;
  }
}
@media only screen and (max-width: 420px) {
  section#events .events h3 {
    font-size: 2.3em;
  }
}
.event-single .fp-tableCell {
  display: block;
}
.event-single .wrapper {
  margin-top: 120px;
}
.event-single .wrapper h2 {
  color: #3399cc;
  font-size: 4vw;
  margin: 0;
  text-transform: uppercase;
  font-family: Geometos;
  line-height: 1em;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 66px;
}
@media only screen and (min-width: 1300px) {
  .event-single .wrapper h2 {
    font-size: 4.8em;
  }
}
@media only screen and (max-width: 769px) {
  .event-single .wrapper h2 {
    font-size: 4.8em;
  }
}
@media only screen and (max-width: 420px) {
  .event-single .wrapper h2 {
    font-size: 2em;
    text-align: left;
    line-height: 1.2em;
  }
}
.event-single .wrapper .event-details {
  overflow: auto;
  margin: 51px 0 58px 0px;
}
@media only screen and (max-width: 769px) {
  .event-single .wrapper .event-details {
    margin: 14px 0 34px 0px;
  }
}
@media only screen and (max-width: 420px) {
  .event-single .wrapper .event-details {
    margin: 14px 0 19px 0px;
  }
}
.event-single .wrapper .event-details .event-img {
  width: 30%;
  float: left;
}
@media only screen and (max-width: 769px) {
  .event-single .wrapper .event-details .event-img {
    width: 100%;
  }
  .event-single .wrapper .event-details .event-img img {
    width: 100%;
  }
}
.event-single .wrapper .event-details .event-content {
  width: 70%;
  float: left;
  padding-left: 38px;
  padding-right: 118px;
}
@media only screen and (max-width: 769px) {
  .event-single .wrapper .event-details .event-content {
    width: 100%;
    padding: 20px 0px 0px;
  }
}
.event-single .wrapper .event-details .event-content h3 {
  font-size: 2vw;
  text-transform: uppercase;
  margin: 0;
  font-family: Geometos;
}
@media only screen and (min-width: 1300px) {
  .event-single .wrapper .event-details .event-content h3 {
    font-size: 2.8em;
  }
}
@media only screen and (max-width: 769px) {
  .event-single .wrapper .event-details .event-content h3 {
    font-size: 2.8em;
  }
}
@media only screen and (max-width: 420px) {
  .event-single .wrapper .event-details .event-content h3 {
    font-size: 2em;
  }
}
.event-single .wrapper .event-details h4 {
  font-size: 2.8em;
  text-transform: uppercase;
  margin: 0;
  font-family: Geometos;
}
@media only screen and (max-width: 769px) {
  .event-single .wrapper .event-details h4 {
    font-size: 2.4em;
  }
}
@media only screen and (max-width: 420px) {
  .event-single .wrapper .event-details h4 {
    font-size: 1.875em;
  }
}
.event-single .wrapper .event-details p {
  font-size: 1.875em;
  font-family: OpenSans_Light;
  margin: 0;
}
@media only screen and (max-width: 420px) {
  .event-single .wrapper .event-details p {
    font-size: 1.5em;
  }
}
.event-single .wrapper .event-details p.time,
.event-single .wrapper .event-details p.datetime,
.event-single .wrapper .event-details p.loc {
  margin-top: -9px;
  font-size: 1.5em;
}
@media only screen and (max-width: 769px) {
  .event-single .wrapper .event-details p.time,
  .event-single .wrapper .event-details p.datetime,
  .event-single .wrapper .event-details p.loc {
    margin-top: 0px;
    font-size: 1.875em;
  }
}
@media only screen and (max-width: 420px) {
  .event-single .wrapper .event-details p.time,
  .event-single .wrapper .event-details p.datetime,
  .event-single .wrapper .event-details p.loc {
    font-size: 1.5em;
  }
}
.event-single .wrapper .event-details .date,
.event-single .wrapper .event-details .location,
.event-single .wrapper .event-details .register {
  width: 33%;
  float: left;
}
@media only screen and (max-width: 769px) {
  .event-single .wrapper .event-details .date,
  .event-single .wrapper .event-details .location,
  .event-single .wrapper .event-details .register {
    width: 100%;
    margin-bottom: 20px;
  }
}
.event-single .wrapper .event-details a p {
  color: #CA272F;
  text-decoration: underline;
  font-family: OpenSans_Regular;
}
.event-single .wrapper .inter-nav {
  text-align: center;
}
.acf-map {
  width: 100%;
  height: 429px;
  border: #ccc solid 1px;
  margin: 20px 0;
}
/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}

@font-face {
  font-family: 'Geometos';
  src: url('../fonts/Geometos-Rounded.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham_Black';
  src: url('../fonts/Gotham-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'BacktoBlack';
  src: url('../fonts/Back-to-Black-Demo.ttf') format('truetype');
}

#section6,
footer {
  background: #8C8C8A;
}
.footer {
  padding: 10px;
}
.footer .copyright {
  float: left;
  padding-left: 2%;
  color: #fff;
}
@media only screen and (max-width: 769px) {
  .footer .copyright {
    font-size: .7em;
    font-family: Geometos;
  }
}
.footer nav {
  display: block;
  margin-top: .7em;
}
.footer nav ul {
  vertical-align: middle;
}
.footer nav ul li {
  padding-top: 0;
  padding-bottom: 0;
  font-size: .875em;
}
.footer nav.show {
  display: block;
}
.footer nav.hide {
  display: none;
}
@media only screen and (max-width: 769px) {
  .footer nav.show {
    display: none;
  }
  .footer nav.hide {
    display: block;
  }
  .footer nav ul li {
    font-size: 2em;
    display: inline-block;
  }
}

@font-face {
  font-family: 'Geometos';
  src: url('../fonts/Geometos-Rounded.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham_Black';
  src: url('../fonts/Gotham-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'BacktoBlack';
  src: url('../fonts/Back-to-Black-Demo.ttf') format('truetype');
}
.frm_style_formidable-style.with_frm_style input[type=text],
.frm_style_formidable-style.with_frm_style input[type=password],
.frm_style_formidable-style.with_frm_style input[type=email],
.frm_style_formidable-style.with_frm_style input[type=number],
.frm_style_formidable-style.with_frm_style input[type=url],
.frm_style_formidable-style.with_frm_style input[type=tel],
.frm_style_formidable-style.with_frm_style input[type=file],
.frm_style_formidable-style.with_frm_style input[type=search],
.frm_style_formidable-style.with_frm_style select {
  background-color: #ebebeb;
  font-size: 1.4vw;
  padding: 20px;
  font-family: OpenSans_Light;
}
@media only screen and (min-width: 1300px) {
  .frm_style_formidable-style.with_frm_style input[type=text],
  .frm_style_formidable-style.with_frm_style input[type=password],
  .frm_style_formidable-style.with_frm_style input[type=email],
  .frm_style_formidable-style.with_frm_style input[type=number],
  .frm_style_formidable-style.with_frm_style input[type=url],
  .frm_style_formidable-style.with_frm_style input[type=tel],
  .frm_style_formidable-style.with_frm_style input[type=file],
  .frm_style_formidable-style.with_frm_style input[type=search],
  .frm_style_formidable-style.with_frm_style select {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 769px) {
  .frm_style_formidable-style.with_frm_style input[type=text],
  .frm_style_formidable-style.with_frm_style input[type=password],
  .frm_style_formidable-style.with_frm_style input[type=email],
  .frm_style_formidable-style.with_frm_style input[type=number],
  .frm_style_formidable-style.with_frm_style input[type=url],
  .frm_style_formidable-style.with_frm_style input[type=tel],
  .frm_style_formidable-style.with_frm_style input[type=file],
  .frm_style_formidable-style.with_frm_style input[type=search],
  .frm_style_formidable-style.with_frm_style select {
    font-size: 1.875em;
  }
}
@media only screen and (max-width: 420px) {
  .frm_style_formidable-style.with_frm_style input[type=text],
  .frm_style_formidable-style.with_frm_style input[type=password],
  .frm_style_formidable-style.with_frm_style input[type=email],
  .frm_style_formidable-style.with_frm_style input[type=number],
  .frm_style_formidable-style.with_frm_style input[type=url],
  .frm_style_formidable-style.with_frm_style input[type=tel],
  .frm_style_formidable-style.with_frm_style input[type=file],
  .frm_style_formidable-style.with_frm_style input[type=search],
  .frm_style_formidable-style.with_frm_style select {
    font-size: 1.5em;
  }
}
.frm_style_formidable-style.with_frm_style label.frm_primary_label,
.frm_style_formidable-style.with_frm_style.frm_login_form label {
  font-size: 1.4vw;
  text-transform: uppercase;
  font-family: Geometos;
  font-weight: 200;
}
@media only screen and (min-width: 1300px) {
  .frm_style_formidable-style.with_frm_style label.frm_primary_label,
  .frm_style_formidable-style.with_frm_style.frm_login_form label {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 769px) {
  .frm_style_formidable-style.with_frm_style label.frm_primary_label,
  .frm_style_formidable-style.with_frm_style.frm_login_form label {
    font-size: 1.875em;
  }
}
@media only screen and (max-width: 420px) {
  .frm_style_formidable-style.with_frm_style label.frm_primary_label,
  .frm_style_formidable-style.with_frm_style.frm_login_form label {
    font-size: 1.5em;
  }
}

@font-face {
  font-family: 'Geometos';
  src: url('../fonts/Geometos-Rounded.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham_Black';
  src: url('../fonts/Gotham-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'BacktoBlack';
  src: url('../fonts/Back-to-Black-Demo.ttf') format('truetype');
}
.form-container {
  display: inline-block;
  position: relative;
  width: 33%;
  padding: 3px;
}
@media only screen and (max-width: 1044px) {
  .form-container {
    width: 48%;
  }
}
@media only screen and (max-width: 420px) {
  .form-container {
    width: 100%;
    padding: 0;
    margin-top: 6px;
  }
}
.form-container .form-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.form-container .form-overlay h3 {
  font-size: 2.3em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: Gotham_Black;
  margin: 0;
  margin-top: 27px;
}
@media only screen and (max-width: 1261px) {
  .form-container .form-overlay h3 {
    margin-top: 17px;
    line-height: 1.2;
    font-size: 2em;
  }
}
.form-container .form-overlay p {
  color: #fff;
  font-size: 1.8em;
  font-family: OpenSans_Regular;
  text-align: center;
  padding: 0px 10px;
  margin-top: 6px;
}
@media only screen and (max-width: 1261px) {
  .form-container .form-overlay p {
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 420px) {
  .form-container .form-overlay p {
    margin-top: -5px;
  }
}
.form-single .wrapper {
  margin-top: 110px;
}
.form-single .wrapper .issue-details {
  width: 50%;
  float: left;
  margin-top: 56px;
}
@media only screen and (max-width: 769px) {
  .form-single .wrapper .issue-details {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .form-single .wrapper .issue-details {
    margin-top: 12px;
  }
}
.form-single .wrapper .issue-details p {
  font-size: 1.875em;
  padding-right: 43px;
}
@media only screen and (min-width: 1300px) {
  .form-single .wrapper .issue-details p {
    font-size: 1.875em;
  }
}
@media only screen and (max-width: 420px) {
  .form-single .wrapper .issue-details p {
    font-size: 1.375em;
    padding-right: 0px;
    margin-top: 5px;
  }
}
.form-single .wrapper .issue-details h3 {
  font-size: 2.8em;
  text-transform: uppercase;
  margin: 0;
}
@media only screen and (min-width: 1300px) {
  .form-single .wrapper .issue-details h3 {
    font-size: 2.8em;
  }
}
@media only screen and (max-width: 420px) {
  .form-single .wrapper .issue-details h3 {
    font-size: 2.2em;
  }
}
.form-single .wrapper h2 {
  color: #3399cc;
  font-size: 4.8em;
  margin: 0;
  text-transform: uppercase;
  font-family: Geometos;
  line-height: 1em;
  letter-spacing: 2px;
}
@media only screen and (max-width: 420px) {
  .form-single .wrapper h2 {
    font-size: 2.4em;
  }
}
.form-single .wrapper .issue-form-container {
  width: 50%;
  float: left;
  margin-top: 56px;
}
.form-single .wrapper .issue-form-container textarea,
.form-single .wrapper .issue-form-container input {
  background-color: #ebebeb;
}
@media only screen and (max-width: 769px) {
  .form-single .wrapper .issue-form-container {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .form-single .wrapper .issue-form-container {
    margin-top: 8px;
  }
}
#whatdoyouthink .close {
  top: 0;
}

.fp-slidesContainer {
  width: 100%!important;
  transform: none!important;
}
.fp-slide {
  width: 100%!important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: all 0.7s ease-in-out;
}
.fp-slide.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
@media only screen and (max-width: 769px) {
  .fp-tableCell {
    vertical-align: top;
    height: auto !important;
  }
}

@font-face {
  font-family: 'Geometos';
  src: url('../fonts/Geometos-Rounded.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham_Black';
  src: url('../fonts/Gotham-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'BacktoBlack';
  src: url('../fonts/Back-to-Black-Demo.ttf') format('truetype');
}
html,
body {
  margin: 0;
  padding: 0;
}
section {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}
@media only screen and (max-height: 520px) and (min-width: 1044px) {
  section {
    min-height: 706px;
  }
}
@media only screen and (max-width: 1261px) {
  section {
    min-height: 606px;
  }
}
section .hero {
  height: 390px;
}
@media only screen and (max-width: 769px) {
  section .hero {
    height: 170px;
  }
}
section .hero .wrapper {
  display: table;
  height: 100%;
}
section .hero .wrapper h2 {
  color: #fff;
  font-size: 6vw;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  text-transform: uppercase;
  font-family: Geometos;
}
@media only screen and (min-width: 1300px) {
  section .hero .wrapper h2 {
    font-size: 7em;
  }
}
@media only screen and (max-width: 769px) {
  section .hero .wrapper h2 {
    color: #fff;
  }
}
section .wrapper {
  overflow: auto;
  padding: 4.4em 0;
}
@media only screen and (max-width: 769px) {
  section {
    min-height: auto;
  }
}
.inter-nav {
  text-align: center;
  clear: both;
}
.inter-nav p,
.inter-nav .prev,
.inter-nav .next {
  text-transform: uppercase;
  font-size: 3em;
  text-decoration: underline;
  color: #CA272F;
  cursor: pointer;
  display: inline-block;
  margin-right: 32px;
  font-family: Geometos;
}
@media only screen and (max-width: 769px) {
  .inter-nav p,
  .inter-nav .prev,
  .inter-nav .next {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 420px) {
  .inter-nav p,
  .inter-nav .prev,
  .inter-nav .next {
    margin-right: 5px;
    font-size: 1.2em;
  }
}
.inter-nav p {
  text-decoration: none;
}
h2.title {
  color: #3399cc;
  font-size: 4.8em;
  margin: 0;
  text-transform: uppercase;
  font-family: Geometos;
  line-height: 1em;
  letter-spacing: 2px;
  text-align: center;
}
@media only screen and (min-width: 1300px) {
  h2.title {
    font-size: 4.8em;
  }
}
@media only screen and (max-width: 420px) {
  h2.title {
    font-size: 2.4em;
  }
}
.redcaps {
  font-family: BacktoBlack;
  color: #CA272F;
  display: inline;
  font-size: 1.6em;
  line-height: 1;
}

@font-face {
  font-family: 'Geometos';
  src: url('../fonts/Geometos-Rounded.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham_Black';
  src: url('../fonts/Gotham-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'BacktoBlack';
  src: url('../fonts/Back-to-Black-Demo.ttf') format('truetype');
}
section#landing {
  min-height: 90vh;
}
section#landing .wrapper {
  padding-top: 7.2%;
  margin-left: 12%;
  width: auto;
  overflow: hidden;
  clear: both;
}
@media only screen and (max-width: 1261px) {
  section#landing .wrapper {
    padding-top: 5.2%;
  }
}
section#landing .wrapper h2 {
  color: #3399cc;
  font-size: 4.7em;
  margin: 0;
  text-transform: uppercase;
  font-family: Geometos;
  line-height: 1em;
  letter-spacing: 2px;
}
@media only screen and (min-width: 1300px) {
  section#landing .wrapper h2 {
    font-size: 4.7em;
  }
}
@media only screen and (max-width: 1261px) {
  section#landing .wrapper h2 {
    font-size: 4em;
  }
}
section#landing .wrapper h3 {
  color: #fff;
  font-size: 2.6em;
  font-weight: 300;
  margin: 0;
  font-family: OpenSans_Light;
  margin-top: -4px;
  line-height: 1.3;
  letter-spacing: 1px;
  word-spacing: -3px;
  margin-left: 2px;
}
@media only screen and (min-width: 1300px) {
  section#landing .wrapper h3 {
    font-size: 2.6em;
  }
}
@media only screen and (max-width: 1261px) {
  section#landing .wrapper h3 {
    font-size: 2.2em;
  }
}
section#landing .landing-hero {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
section#landing .play {
  position: absolute;
  left: 5%;
  bottom: 14%;
  cursor: pointer;
}
@media only screen and (max-width: 769px) {
  section#landing .wrapper {
    padding-top: 10em;
    margin-left: 4.4em;
  }
  section#landing .wrapper h2 {
    font-size: 6em;
  }
  section#landing .wrapper h2 br {
    display: none;
  }
  section#landing .wrapper h3 {
    font-size: 3.3em;
    margin-top: 0px;
    padding-right: 108px;
  }
  section#landing .wrapper h3 br {
    display: none;
  }
  section#landing .play {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  section#landing .wrapper {
    padding-top: 6em;
    margin-left: 0;
    width: 85%;
    margin: auto;
  }
  section#landing .wrapper h2 {
    font-size: 3em;
  }
  section#landing .wrapper h3 {
    font-size: 2.3em;
    padding-right: 0;
  }
}
.wrapper .desc {
  font-size: 1.875em;
}
.wrapper .desc p {
  padding: 2em 186px;
  text-align: center;
}
@media only screen and (max-width: 769px) {
  .wrapper {
    width: 85%;
  }
  .wrapper .desc p {
    padding: 2em 0;
  }
}
@media only screen and (max-width: 420px) {
  .wrapper .desc {
    font-size: 1.7em;
  }
}
iframe {
  width: 100%;
  height: 100%;
}

.logo {
  position: relative;
  margin-left: 5.8em;
  margin-top: 4.5em;
  z-index: 1;
  width: 100%;
}
@media only screen and (max-width: 769px) {
  .logo {
    margin-left: 4em;
    margin-top: 12.4em;
    max-width: 684px;
    width: 80%;
  }
}
@media only screen and (max-width: 420px) {
  .logo {
    margin-left: 7.5%;
    width: 85%;
  }
}
.logo a {
  float: left;
  max-width: 552px;
  width: 50%;
}
@media only screen and (max-width: 769px) {
  .logo a {
    margin-left: -20px;
    width: 100%;
    float: none;
  }
}
.logos {
  float: right;
  margin-right: 14.5%;
  margin-top: 115px;
  width: 20%;
  max-width: 293px;
}
.logos.bottom {
  position: relative;
  /* right: 0; */
  margin-top: -30px;
  margin-right: 10.5%;
  float: right;
}
@media only screen and (max-width: 769px) {
  .logos {
    margin-right: 0px;
    width: 100%;
    float: none;
  }
  .logos.bottom {
    position: relative;
    margin-top: 0;
    margin-left: 4em;
    margin-bottom: 5em;
  }
}


@font-face {
  font-family: 'Geometos';
  src: url('../fonts/Geometos-Rounded.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham_Black';
  src: url('../fonts/Gotham-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'BacktoBlack';
  src: url('../fonts/Back-to-Black-Demo.ttf') format('truetype');
}
nav {
  transition: all 0.4s ease;
}
nav#nav2nd.nav.sticky {
  display: block;
  opacity: 1;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: #CA272F;
  bottom: inherit;
  transition: all 4.4s;
  visibility: visible;
}
nav#nav2nd.nav {
  display: none;
  opacity: 0;
  visibility: hidden;
}
nav.nav {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #CA272F;
}
nav.sticky {
  width: 100%;
  z-index: 100;
  background: #CA272F;
  bottom: inherit;
}
nav ul {
  list-style: none;
  font-size: 1.2vw;
  margin: 0;
  /* overflow: auto; */
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
@media only screen and (max-width: 769px) {
  nav ul li {
    display: block;
  }
}
nav ul li a {
  color: #fff;
  text-transform: uppercase;
  font-family: Geometos;
}
nav .whiteLogo {
  max-width: 15vw;
  float: left;
  padding-left: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 769px) {
  nav {
    display: none;
  }
  nav#nav2nd.nav.sticky {
    display: none;
  }
}
.mobile-menu {
  display: none;
  visibility: visible;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 22px;
  top: 32px;
  height: auto;
  transition: visibility 2s;
}
.mobile-menu .bar1,
.mobile-menu .bar2,
.mobile-menu .bar3 {
  width: 68px;
  height: 11px;
  background-color: #CA272F;
  margin: 7px 0;
  transition: 0.4s;
}
@media only screen and (max-width: 420px) {
  .mobile-menu .bar1,
  .mobile-menu .bar2,
  .mobile-menu .bar3 {
    width: 50px;
    height: 7px;
  }
}
@media only screen and (max-width: 769px) {
  .mobile-menu {
    display: block;
  }
  .mobile-menu.hidden {
    visibility: hidden;
    height: 0;
  }
}
.mobile-menu-container {
  background: rgba(202, 39, 47, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.mobile-menu-container nav#nav2nd.nav {
  display: table;
  opacity: 1;
  height: 92%;
}
.mobile-menu-container nav#nav2nd.nav ul {
  display: table-cell;
  vertical-align: middle;
  font-size: 4vh;
}
.mobile-menu-container nav#nav2nd.nav ul li {
  padding-bottom: 13%;
}
.mobile-menu-container nav.nav {
  background: none;
}
.mobile-menu-close {
  cursor: pointer;
  position: absolute;
  width: 70px;
  height: 70px;
  right: 22px;
  top: 32px;
  z-index: 2;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: 0.2s;
}
.mobile-menu-close .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
  width: 68px;
  height: 11px;
  background-color: #fff;
  margin: 7px 0;
  transition: 0.4s;
}
.mobile-menu-close .bar2 {
  transform: rotate(45deg) translate(-8px, -8px);
  width: 68px;
  height: 11px;
  background-color: #fff;
  margin: 7px 0;
  transition: 0.4s;
}
.mobile-menu-close.hidden {
  visibility: visible;
  height: auto;
  opacity: 1;
  transition: 0.4s;
}
.close {
  position: absolute;
  top: 22px;
  right: 0px;
}
.close .bar1 {
  transform: rotate(-50deg) translate(-4px, 4px);
  width: 50px;
  height: 8px;
  background-color: #CA272F;
  margin: 7px 0;
  transition: 0.4s;
}
.close .bar2 {
  transform: rotate(50deg) translate(-7px, -7px);
  width: 50px;
  height: 8px;
  background-color: #CA272F;
  margin: 7px 0;
  transition: 0.4s;
}

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-controls .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #cdcdcd;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
  background: #CA272F;
  color: #fff;
  text-decoration: none;
}
.owl-theme .owl-controls .owl-nav .disabled {
  opacity: .5;
  cursor: default;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #cdcdcd;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #CA272F;
}

#partners p {
  font-size: 1.875em;
  line-height: 1.7;
  text-align: center;
}

@font-face {
  font-family: 'Geometos';
  src: url('../fonts/Geometos-Rounded.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham_Black';
  src: url('../fonts/Gotham-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'BacktoBlack';
  src: url('../fonts/Back-to-Black-Demo.ttf') format('truetype');
}
section#reports .report-container {
  width: 33.333%;
  float: left;
}
section#reports .report-container:nth-of-type(3n+1) {
  clear: left;
}
section#reports .report-container .report-image {
  padding: 14px 14px 0px 14px;
}
section#reports .report-container .report-content {
  padding: 14px;
}
section#reports .report-container .report-content h3 {
  font-size: 2.2vw;
  margin: 0px;
  font-family: Geometos;
}
section#reports .report-container .report-content p {
  font-size: 1.7vw;
  margin: 0px;
  font-family: OpenSans_Light;
}
section#reports .report-container .report-content a {
  color: #CA272F;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 5px;
  display: block;
}
section#reports .report-container a {
  display: block;
}
@media only screen and (max-width: 769px) {
  section#reports .report-container {
    width: 50%;
  }
  section#reports .report-container .report-content h3 {
    font-size: 1.8em;
  }
  section#reports .report-container .report-content p,
  section#reports .report-container .report-content a {
    font-size: 1em;
  }
  section#reports .report-container:nth-of-type(3n+1) {
    clear: none;
  }
  section#reports .report-container:nth-of-type(2n+1) {
    clear: left;
  }
}
@media only screen and (max-width: 420px) {
  section#reports .report-container {
    width: 100%;
  }
}

#social h3 {
  font-size: 4vw;
  color: #3399cc;
  text-align: center;
  margin-bottom: 0px;
}
#ff-stream-1 .ff-loadmore-wrapper .ff-btn {
  display: none;
}
