@import 'colors.less';
@import 'fonts.less';
section#events{
	.events{
		
		.event-container{
			display: inline-block;
		    width: 24%;
		    padding-right: 15px;
		    vertical-align: top;
		    h4{
		    	font-size: 1.4vw;
			    padding-top: .6em;
			    color: @black;
			    text-transform: uppercase;
			    margin: 0;
		    }
		    p{
		    	margin:0;
		    	font-size: 1vw;
		    }
		    a{
		    	color: @red;
		    	text-transform: uppercase;
		    	text-decoration: underline;
		    }	
	    }
	    .past{
	    	margin-top: 2em;
	    }
	    h3{
	    	font-size: 4vw;
    		text-transform: uppercase;
    		color: @blue;
    		margin-top: 0;
    		margin-bottom: .42em;
    		font-family: @Geometos;
	    }

	}
}
.event-single{
	.fp-tableCell{
		display: block;
	}
	.wrapper{
		margin-top: 120px;
		h2{
			color: @blue;
			font-size: 4vw;
	    	margin: 0;
	    	text-transform: uppercase;
	    	font-family: @Geometos;
	    	line-height: 1em;
    		letter-spacing: 2px;
    		text-align: center;
    		padding-top: 66px;
		}
		.event-details{
			overflow: auto;
			margin: 51px 0 58px 0px;
			.event-img{
				width: 30%;
				float: left;
			}
			.event-content{
				width: 70%;
				float: left;
				padding-left: 38px;
    			padding-right: 118px;
				h3{
					font-size: 2vw;
				    text-transform: uppercase;
				    margin: 0;
				    font-family: @Geometos;
				}	
			}
			h4{
				font-size: 3.4em;
			    text-transform: uppercase;
			    margin: 0;
			    font-family: @Geometos;
			}
			p{
				font-size: 1.5em;
				font-family: @OpenSans_Light;
				margin:0;
				&.time{
					margin-top: -9px;
				}
				&.datetime, &.loc{
					margin-top: -9px;
				}
			}
			.date, .location, .register{
				width: 33%;
				float: left;
			}
		}
		.inter-nav{
			text-align: center;
		}
	}
}
.acf-map {
	width: 100%;
	height: 429px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
