@font-face {
  font-family: 'Geometos';
  src: url('../fonts/Geometos-Rounded.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamBlack';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@Geometos: Geometos;
@OpenSans_Light: OpenSans_Light;
@OpenSans_Regular: OpenSans_Regular;
@GothamBlack: GothamBlack;
@OpenSans_Bold: OpenSans_Bold;