@font-face {
  font-family: 'Geometos';
  src: url('../fonts/Geometos-Rounded.ttf') format('truetype'), url('../fonts/GeometosRounded.eot'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'OpenSans_Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.eot');
}
@font-face {
  font-family: 'OpenSans_Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light.eot');
}
@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.eot');
}
@font-face {
  font-family: 'Gotham_Black';
  src: url('../fonts/Gotham-Black.ttf') format('truetype'), url('../fonts/Gotham-Black.eot');
}
@font-face{
  font-family: 'BacktoBlack';
  src: url('../fonts/Back-to-Black-Demo.ttf') format('truetype'), url('../fonts/Back-to-Black.eot');
}
@Geometos: Geometos;
@OpenSans_Light: OpenSans_Light;
@OpenSans_Regular: OpenSans_Regular;
@Gotham_Black: Gotham_Black;
@OpenSans_Bold: OpenSans_Bold;
@BacktoBlack: BacktoBlack;