@font-face {
  font-family: 'Header';
  src: url('../fonts/Geometos-Rounded.tff') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.tff') format('truetype');
}
