
#section6, footer{
	background: #8C8C8A;
}
.footer{
	padding: 10px;
	.copyright{
		float: left;
		padding-left: 2%;
		color:#fff;
		@media @tablet{
			font-size: .7em;
    		font-family: Geometos;
		}
	}
	nav{
		display:inline;
		margin-top: .7em;
		ul{
			//vertical-align: middle;
			padding: 5px;
			li{
				padding-top: 0;
				padding-bottom: 0;
				font-size: .875em;
			}
		}
		&.show{
			display: block;
		}
		&.hide{
			display: none;
		}
		@media @tablet{
			&.show{
				display: none;
			}
			&.hide{
				display: block;
			}
			ul{
				li{
					font-size: 2em;
					display: inline-block;
				}
			}
		}
	}
}