@import 'colors.less';
@import 'fonts.less';
@import 'media-queries.less';
html,body{
	margin:0;
	padding:0;
}
section{
	width:100%;
	min-height:100vh;
	overflow: auto;
	@media @height{
		min-height: 706px;
	}
	@media @laptop{
		min-height: 606px;
	}

	.hero{
		height:390px;
		@media @tablet{
			height:170px;
		}
		.wrapper{
			display: table;
			height:100%;
			h2{
				color: #fff;
			    font-size: 6vw;
			    text-align: center;
			    vertical-align: middle;
	    		display: table-cell;
	    		text-transform: uppercase;
	    		font-family: @Geometos;
	    		@media @largeDesktop{
	    			font-size: 7em;
	    		}
	    		@media @tablet{
					color: #fff;
	    		}
			}
		}
		
	}
	.wrapper{
		overflow: auto;
		padding: 4.4em 0;
	}
	@media @tablet{
		min-height: auto;
	}
}

.inter-nav{
	text-align: center;
	clear: both;
	p, .prev, .next{
		text-transform: uppercase;
		font-size: 3em;
	    text-decoration: underline;
		color: @red;
		cursor: pointer;
		display: inline-block;
		margin-right: 32px;
		font-family: @Geometos;
		@media @tablet{
			font-size: 2.5em;
		}
		@media @mobile{
			margin-right: 5px;
    		font-size: 1.2em;
		}
	}
	p{
		text-decoration: none;
	} 
}
h2.title{

	color: @blue;
	font-size: 4.8em;
	margin: 0;
	text-transform: uppercase;
	font-family: @Geometos;
	line-height: 1em;
	letter-spacing: 2px;
	text-align: center;
	@media @largeDesktop{
		font-size: 4.8em;
	}
	@media @mobile{
		font-size: 2.4em;
		
	}

}
.redcaps{
	font-family: @BacktoBlack;
	color: @red;
	display: inline;
    font-size: 1.6em;
    line-height: 1;
}

.slide:not([data-anchor='all']){
	display: none;
	-webkit-animation: fadeOut 0.7s ease-in-out;
    animation: fadeOut 0.7s ease-in-out;
}
.slide.active{
    display: block;
    -webkit-animation: fadeIn 0.7s ease-in-out;
    animation: fadeIn 0.7s ease-in-out;
    z-index: 12;
    background: white;
    padding-top: 150px;
    @media @mobile{
    	padding-top: 61px;
    }
}
.slide:nth-child(2) .prev, .slide:nth-child(2) .prevArrow, .slide:nth-child(2) .vertbar,.slide:last-child .next, .slide:last-child .nextArrow, .slide:last-child .vertbar{
	display: none;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0;
    visibility: hidden; }
      to { opacity: 1;
      visibility: visible; }
}  
@keyframes fadeIn {
    from { opacity: 0;
    visibility: hidden; }
      to { opacity: 1;
      visibility: visible; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 1;
      visibility: visible; }
      to { opacity: 0;
    visibility: hidden; }
      
}  
@keyframes fadeOut {
    from { opacity: 1;
      visibility: visible; }
      to { opacity: 0;
    visibility: hidden; }
      
}