@import 'colors.less';
@import 'fonts.less';

section#landing{
	.wrapper{
		padding-top: 19.8%;
		h2{
			color: @blue;
			font-size: 6.7em;
	    	margin: 0;
	    	text-transform: uppercase;
	    	font-family: @Geometos;
	    	line-height: 1em;
		}
		h3{
			color: @white;
			font-size: 3.6em;
			font-weight: 300;
    		margin: 0;
    		font-family: @OpenSans_Light;
		}
	}
	.landing-hero{
		position: absolute;
	    top: 0;
	    width: 100%;
    	height: 100%;
	    //z-index: -1;
	}
}

.wrapper{
	.desc{
		font-size: 1.875em;
		p{
			padding: 2em 186px;
    		text-align: center;
		}
	}
}
iframe{
	width: 100%;
	height: 100%;
}