@import 'colors.less';

section#landing{
	.wrapper{
		padding-top: 15%; 
		h2{
			color: @blue;
			font-size: 4.7em;
	    	margin: 0;
	    	text-transform: uppercase;
		}
		h3{
			color: @white;
			font-size: 3em;
			font-weight: 300;
    		margin: 0;
		}
	}
	
}