@import 'media-queries.less';
.logo{
	position: relative;
    margin-left: 5.8em;
    margin-top: 4.5em;
    z-index: 1;
    width:100%;
    @media @tablet{
    	margin-left: 4em;
    	margin-top: 0em;
        //max-width: 206px;
    	width:80%;
        max-width: 316px;
    }
    @media @mobile{
    	margin-left: 7.5%;
    	width: 85%;
        max-width: 206px;
    }
    @media @mobileLandscape{
        max-width: 206px;
    }
    a{
        float: left;
        max-width: 552px;
        width:50%;
        @media @tablet{
            margin-left: -20px;
            width: 100%;
            float: none;
        }
    }
}
.logos{
        float: right;
        margin-right: 14.5%;
        margin-top: 11px;
        width: 20%;
        max-width: 293px;
        &.bottom{
               position: relative;
                /* right: 0; */
                margin-top: -30px;
                margin-right: 10.5%;
                float: right;
        }
        @media @tablet{
            margin-right:0px; 
            width: 100%;
            float: none;
            margin-bottom: 8px;
            margin-left: -2%;
            //max-width: 191px;
            margin-top: 5px;
            &.bottom{
                    position: relative;
                    margin-top: 0;
                    margin-right: 0;
                    margin-bottom: 5em;
            }
        }
}    