@import 'media-queries.less';
.logo{
	position: relative;
    margin-left: 5.8em;
    margin-top: 4.5em;
    z-index: 1;
    max-width: 564px;
    @media @tablet{
    	margin-left: 4em;
    	margin-top: 12.4em;
    	max-width: 684px;
    	width:80%;
    }
    @media @mobile{
    	margin-left: 7.5%;
    	width: 85%;
    }
}    