@largeDesktop : ~"only screen and (min-width: 1300px)";
@desktop :  ~"only screen and (min-width: 1262px)";
@laptop : ~"only screen and (max-width: 1261px)";
@minilaptop : ~"only screen and (max-width: 1044px)";
@tablet : ~"only screen and (max-width: 769px)";
@mobile : ~"only screen and (max-width: 420px)";
@height: ~"only screen and (max-height: 520px) and (min-width: 1044px)";